.otp-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.otp-box {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.otp-box h2 {
  margin-bottom: 10px;
}

.info-text {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 20px;
}

.otp-box input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  outline: none;
  font-size: 16px;
  text-align: center;
  letter-spacing: 5px;
}

.otp-box button {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.otp-box button:hover {
  background: #2563eb;
}

.btn-secondary {
  margin-top: 10px;
  background: transparent;
  border: 1px solid #3b82f6;
}

.btn-secondary:hover {
  background: #3b82f6;
}

.error {
  color: #ef4444;
  font-size: 14px;
  margin-bottom: 10px;
}